
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  margin-top: 50px;
  text-align: center;
}

h2{
  color: white;
  margin: 25px;
}

span{
  color: red;
}

.App h1{
  text-align: center;
  color: rgb(216, 0, 0);
  margin-top: 35px;
  font-size:80px;
  font-family: 'digital-7';
}

.form-ajuste{
  text-align: center;
  align-items: center;
}

.form-ajuste input{
  padding: 15px;
  padding-right: 25px;
  width: 15%;
  border-radius: 6px;
  border: none;
  margin: 5px;
}

.App .form-ajuste button{
  padding: 15px;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  width: 15%;
  font-weight: bolder;
  font-size: 16px;
  border: none;
  margin-left: 5px;
}

.App .form-ajuste button:hover{
  transition: 0.3s;
  background-color: rgb(202, 2, 2);
}

@media (max-width: 768px) {
  .form-ajuste {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-ajuste input{
    width: 75%;
  }

  .form-ajuste button{
    width: 100%;
    margin-top: 15px;
  }
}
